body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #e6f7e6, #fff);
  color: #333;
}

header {
  background-color: #2e7d32;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header h1 {
  font-size: 28px;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;

}

header nav a:hover {
  color: #ffeb3b;
}

.vendas {
  text-align: center;
  padding: 60px 20px;
}

.vendas h2 {
  color: #1b5e20;
  font-size: 36px;
}

.vendas p {
  color: #555;
  max-width: 600px;
  margin: 10px auto 40px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: rgb(214, 213, 213)
}
div{
    display: inline-block;
    display: block;
    margin: 100px;
    background-color: white;
    font-size: 16px;
}
body{
  
}
div > h1{
    text-align: center;
    font-family: 'Lato';
    color: white;
    background-color: black;
    margin-top: 0px;
    border-radius: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}
form{
    text-align: center;
    
}
#principal{
    margin: 0;
    border-style: solid;
    border-color: rgba(0, 0, 255, 0.323);
    border-radius: 5px;
}
label{
    padding-right: 10px;
}
#botao{
    margin: 10px;
    margin-bottom: 30px;
    padding-left: 150px;
    padding-right:150px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #3D9DB3;
    border-style: none;
    font-family: 'Lato';
    font-weight: Bolder;
    color: white;
    text-shadow: 2px 2px 5px black;
    border-radius: 5px;
    cursor: pointer;
}
#senha{
    padding-left: 20px;
    padding-right:137px;
    padding-bottom: 11px;
    padding-top: 11px;
    border-radius: 5px;
    background-color: #DBDBDB;
    border-style: none;
}
#nome{
    padding-left: 20px;
    padding-right:137px;
    padding-bottom: 11px;
    padding-top: 11px;
    border-radius: 5px;
    background-color: #DBDBDB;
    border-style: none;
}
div > p{
    text-align: center;
}
img{
    display: inline-block;
    padding-left: 5px;
}
#imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #DBDBDB;
    padding-bottom: 10px;
}
#partebaixo{
    background-color: #DBDBDB;
    margin: 0px;
    padding-top: 10px;
    font-family: 'Lato';
    color: #3D9DB3;
    font-weight: bolder;
}